/* header */
.top-nav {
    display: flex;
    list-style: none;
}

.top-nav-item {
    margin: 0 10px;
}

.youtube-nav {
    padding: 0 10px;
    background-color: red;
    color: white;
}

.gnb-wrapper {
    background-color: red;
}