<div class="header-top-wrapper">
  <div class="header-top-left">
    <div class="contact-us">sdacic7@gmail.com</div>
    <div class="phone-number">043-275-7070</div>
  </div>

  <nav class="header-top-right">
    <div class="trigger">
      <ul class="top-nav">
        <li class="top-nav-item">
          <a class="page-link" href="/">Home</a>
        </li>
        <li class="top-nav-item">
          <a class="page-link" href="/login">Login</a>
        </li>
        <li class="top-nav-item youtube-nav">
          <i class="fas fa-video"></i>
          <a
            class="page-link youtube-link-text"
            target="_blank"
            href="https://www.youtube.com/@sdacic8933/streams"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="mobile-menu-bar">
    <i class="fas fa-bars"></i>
  </div>
</div>
