<nav class="header-top-wrapper">
    <div class="trigger">
        <ul class="top-nav">
            <li class="top-nav-item">
                <a class="page-link" href="/">Home</a>
            </li>
            <li class="top-nav-item">
                <a class="page-link" href="/login">Login</a>
            </li>
            <li class="top-nav-item youtube-nav">
                <i class="fas fa-video"></i>
                <a class="page-link youtube-link-text" href="/youtube">Youtube</a>
            </li>
        </ul>
    </div>
</nav>