<div id="sp-menu-bg">
  <div id="sp-menu-close-btn"></div>
</div>
<ul id="sp-menu-wrapper">
  <li class="sp-menu-top">
    <div class="youtube-link">
      <a
        class="youtube-a-link"
        href="https://www.youtube.com/@sdacic8933/streams"
        target="_blank"
      >
        <i class="fab fa-youtube"></i>
        Youtube
      </a>
    </div>
    <div class="offering-link">
      <a class="offering-a-link" href="/offering" target="_blank">
        <i class="fas fa-heart"></i>
        Online Offering
      </a>
    </div>
  </li>
  <li class="sp-gnb-item">
    <a href="/about">
      <span class="sp-gnb-text">교회소개</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/sermon">
      <span class="sp-gnb-text">설교강의</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/mission">
      <span class="sp-gnb-text">선교사역</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/education">
      <span class="sp-gnb-text">교육학교</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
  <li class="sp-gnb-item">
    <a href="/announcement">
      <span class="sp-gnb-text">교회소식</span>
      <span class="sp-gnb-arrow"></span>
    </a>
  </li>
</ul>
