<div class="quick-menu">
  <ul class="quick-menu-list">
    <li class="quick-menu-item live-stream">
      <div class="quick-menu-item-inner">
        <i class="fas fa-wifi"></i>
        <div class="quick-menu-item-text">
          <a href="https://www.youtube.com/@sdacic8933/streams" target="_blank"
            >라이브방송</a
          >
        </div>
      </div>
    </li>
    <li class="quick-menu-item new-commer">
      <div class="quick-menu-item-inner">
        <i class="fas fa-heart"></i>
        <div class="quick-menu-item-text">
          <a href="">새가족등록</a>
        </div>
      </div>
    </li>
    <li class="quick-menu-item online-bulletin">
      <div class="quick-menu-item-inner">
        <i class="fas fa-desktop"></i>
        <div class="quick-menu-item-text">
          <a href="">온라인주보</a>
        </div>
      </div>
    </li>
  </ul>
</div>
